*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  height: 100vh;
  width: 100%;
  color: #293264;
}

#root {
  height: 100%;
  width: 100%;
  overflow: auto;
}

h1, h2, h3, p {
  margin: 0;
}

body {
  background: radial-gradient(circle at 20% 30%, rgba(255, 255, 150, 0.5), transparent 50%),
              radial-gradient(circle at 70% 70%, rgba(150, 255, 255, 0.5), transparent 50%);
  background-color: #F5F7FB; /* fallback background color */
}

.category-select {
  appearance: none;
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  color: #293264;
  cursor: pointer;
  padding: 10px 10px 10px 30px;
  text-align: center;

  /* Chevron icon */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 24 24"><path fill="grey" d="M7 10l5 5 5-5z"/></svg>'); /* Chevron icon */
  background-repeat: no-repeat;
  background-position: left 10px center; /* Position the chevron */
  background-size: 1.25rem; /* Size of the chevron */
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  min-height: calc(100dvh - 4em);
  width: 100%;
  max-width: 800px;
  margin: 2em auto;
  padding: 0 1em;
  overflow-y: auto;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

.subtitle {
  margin-top: 0.5em;
  text-align: center;
}

button {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 15px;
  border: none;
  background-color: #4D5B9E;
  color: #F5F7FB;
  cursor: pointer;
}

.question-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  padding: 0 1.5em;
}

.question-text {
  font-size: 1.5rem;
  font-weight: 700;
}

.answers-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.answer-btn {
  border: 0.79px solid #4D5B9E;
  background-color: transparent;
  color: #293264;
  font-family: inherit;
  font-weight: 500;
}

.reveal {
  opacity: 0.5;
}

.correct {
  background-color: #94D7A2;
  opacity: 1;
}

.incorrect {
  background-color: #F8BCBC;
}

hr {
  border: 0.9px solid #4D5B9E;
  width: 100%;
}

.error-message {
  color: #e42222;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 768px) {
  .answers-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    flex-wrap: wrap;
    margin-top: 1.75em;
  }

  .answer-btn {
    width: calc(50% - 0.75em)
  }

  h2 {
    font-size: 1.2rem;
  }
}

/* Prevent unintended hover effects on touch devices */
@media (hover: hover) {
  button:hover:not(.reveal):hover {
    background-color: #3B4A8B; /* Darker shade of the original color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.1s, box-shadow 0.1s;
  }

  .answer-btn:not(.reveal):hover {
    background-color: #4D5B9E;
    color: #F5F7FB;
    transition: background-color 0.1s, color 0.1s;
  }
}